:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100%;
  position: absolute;
  top: 61px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1000;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.18rem;
  color: #f1cdb3;
}

.header-logo__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.14rem;
  margin-top: 9px;
  color: #ffffff;
  text-align: center;
}

.menu {
  width: 44.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list__link {
  font-size: 1.5rem;
  line-height: 160%;
  font-family: Arial;
  text-decoration: none;
  color: #cdcdcd;
}

.menu-list__link:hover {
  color: #ffffff;
}

.menu-list__link_active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.burger {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4.3rem;
  cursor: pointer;
  z-index: 1000;
}

.burger__i {
  width: 3rem;
  border-bottom: 2px solid #f1cdb3;
}

.burger:hover {
  opacity: 0.5;
}

.burger:active {
  opacity: 1;
}

.burger-active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.anim-burger {
  -webkit-animation: 1s ease-in-out rotate-burger;
          animation: 1s ease-in-out rotate-burger;
}

.anim-burger-reverse {
  -webkit-animation: 1s ease-in-out rotate-burger;
          animation: 1s ease-in-out rotate-burger;
  animation-direction: reverse;
}

@-webkit-keyframes rotate-burger {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate-burger {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media (max-width: 1280px) {
  .header {
    top: 3rem;
  }
  .wrapper {
    width: 92.1875%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .wrapper {
    width: 93.75%;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  padding-top: 4rem;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  margin-top: 1.7rem;
  margin-right: 11.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
}

.footer__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #ffffff;
}

.footer__item {
  height: 4.5rem;
  margin-top: 3.08rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__description {
  margin-left: 2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #f1cdb3;
  text-decoration: none;
}

.footer__description:hover {
  opacity: 0.5;
}

.footer__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30rem;
}

@media (max-width: 1280px) {
  .footer {
    padding-top: 3.2rem;
  }
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper {
    width: 68rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__contacts {
    padding: 0;
    margin: 0;
  }
  .footer__image-box {
    margin-top: 5.7rem;
  }
  .footer__image {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .footer__title {
    text-align: center;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .footer__contacts {
    margin-bottom: 3rem;
  }
  .footer__image-box {
    margin-top: 5.6rem;
    width: 260px;
  }
  .footer__image {
    width: 260px;
  }
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 0;
  right: -32rem;
  width: 32rem;
  height: 82.3rem;
  background: #292929;
  z-index: 900;
}

.mobile-menu .menu-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu .menu-list__item {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mobile-menu .menu-list__link {
  font-size: 3.2rem;
}

.menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
}

.show-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 1s ease-in-out anim-menu;
          animation: 1s ease-in-out anim-menu;
}

.hide-menu {
  -webkit-animation: 1s ease-in-out anim-menu;
          animation: 1s ease-in-out anim-menu;
  animation-direction: reverse;
}

@-webkit-keyframes anim-menu {
  from {
    right: -32rem;
  }
  to {
    right: 0;
  }
}

@keyframes anim-menu {
  from {
    right: -32rem;
  }
  to {
    right: 0;
  }
}

.logo-in-mobile-menu {
  position: absolute;
  top: 3rem;
  left: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(41, 41, 41, 0.6);
  z-index: 100;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-wrapper {
  width: 95.2rem;
  height: 55.2rem;
  position: fixed;
  display: none;
  z-index: 101;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-close {
  position: absolute;
  right: 1rem;
  top: 0;
  margin-top: 3.8rem;
  padding: 1.7rem;
  -webkit-box-shadow: inset 0 0 0 2px #f1cdb3;
          box-shadow: inset 0 0 0 2px #f1cdb3;
  border-radius: 100%;
  background: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  border: none;
  cursor: pointer;
  width: 5.2rem;
  height: 5.2rem;
  padding: 0;
  margin: 0;
  z-index: inherit;
}

.btn-close:hover {
  background-color: #fddcc4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90rem;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fafafa;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
}

.popup__image {
  width: 50rem;
}

.popup__image > img {
  width: 100%;
}

.popup__content {
  width: 42.5%;
  padding-top: 5rem;
  padding-left: 2.9rem;
}

.popup__name {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.popup__type {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  margin-top: 1rem;
  color: #000;
}

.popup__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  margin-top: 4rem;
}

.popup .popup-details {
  margin-top: 4rem;
}

.popup .popup-details__item:before {
  color: #f1cdb3;
  content: "\2022";
  padding-right: 1rem;
}

.popup .popup-details__item {
  list-style-type: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.09rem;
  color: #000;
  line-height: 160%;
}

.popup .popup-details__item_normal {
  font-weight: normal;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  .popup-wrapper {
    width: 68.2rem;
    height: 40.2rem;
  }
  .popup {
    width: 63rem;
    height: auto;
  }
  .popup__image {
    width: 35rem;
  }
  .popup__content {
    padding-left: 1.1rem;
    padding-top: 1rem;
  }
  .popup__description {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .popup .popup-details {
    margin-top: 2rem;
  }
}

@media (max-width: 767px) {
  .btn-close {
    right: 0;
  }
  .popup-wrapper {
    width: 27.1rem;
    height: 39.3rem;
  }
  .popup {
    width: 24rem;
    height: 34.1rem;
  }
  .popup__image {
    display: none;
  }
  .popup__content {
    width: 100%;
    padding: 1rem;
  }
  .popup__name {
    text-align: center;
  }
  .popup__type {
    text-align: center;
  }
  .popup__description {
    text-align: justify;
    letter-spacing: 0.07rem;
  }
  .popup .popup-details {
    margin-top: 2.4rem;
  }
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  width: 100%;
}

body {
  overflow-x: hidden;
}

.hero-content {
  padding-top: 180px;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero-content .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-content .hero__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  max-width: 36rem;
  color: #ffffff;
}

.hero-content .hero__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  margin-top: 42px;
  width: 46rem;
  color: #cdcdcd;
}

.hero-content .hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content .hero__image {
  width: 100%;
}

.hero-content .button {
  background: #f1cdb3;
  border-radius: 100px;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #292929;
  font-family: Georgia;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 42px;
  width: 207px;
  height: 52px;
}

.hero-content .button:hover {
  background: #fddcc4;
}

.hero-content .button:active {
  background: #f1cdb3;
}

.about .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 8rem 17.5rem 10rem 17.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__image {
  width: 100%;
}

.about__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 43rem;
}

.about__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  width: 37rem;
}

.about__description p {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4c4c4c;
  margin-top: 2.5rem;
}

.slider-button {
  margin-top: 3.8rem;
  padding: 1.7rem;
  -webkit-box-shadow: inset 0 0 0 2px #f1cdb3;
          box-shadow: inset 0 0 0 2px #f1cdb3;
  border-radius: 100%;
  background: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #fddcc4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-button_reverted {
  margin-top: 3.8rem;
  padding: 1.7rem;
  -webkit-box-shadow: inset 0 0 0 2px #f1cdb3;
          box-shadow: inset 0 0 0 2px #f1cdb3;
  border-radius: 100%;
  background: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-button_reverted:hover {
  background-color: #fddcc4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.to-left {
  -webkit-animation: 1s ease-in-out left;
          animation: 1s ease-in-out left;
}

.to-right {
  -webkit-animation: 1s ease-in-out right;
          animation: 1s ease-in-out right;
}

.from-left {
  -webkit-animation: 1s ease-in-out left;
          animation: 1s ease-in-out left;
  animation-direction: reverse;
}

.from-right {
  -webkit-animation: 1s ease-in-out right;
          animation: 1s ease-in-out right;
  animation-direction: reverse;
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.pets-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 9px;
  position: relative;
  cursor: pointer;
}

.pets-card:hover {
  background-color: #ffffff;
}

.pets-card__image {
  width: 100%;
}

.pets-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.pets-card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-align: center;
  margin-top: 3rem;
}

.pets-card__button {
  background: none;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #292929;
  font-family: Georgia;
  outline: none;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 187px;
  height: 52px;
}

.pets-card__button:hover {
  background: #fddcc4;
  border: none;
}

.pets-card__button:active {
  background: #f1cdb3;
}

.pets-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
}

.disabled {
  left: 100%;
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10.1rem;
  background-color: #f6f6f6;
}

.pets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.pets__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
  text-align: center;
}

.pets__title span {
  display: block;
  letter-spacing: 0.2rem;
}

.pets .pets-cards {
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 1079px;
  height: 43.6rem;
  position: relative;
  overflow: hidden;
}

.pets__button {
  background: #f1cdb3;
  border-radius: 100px;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #292929;
  font-family: Georgia;
  outline: none;
  border: none;
  cursor: pointer;
  width: 26.1rem;
  height: 5.2rem;
}

.pets__button:hover {
  background: #fddcc4;
}

.pets__button:active {
  background: #f1cdb3;
}

.buttons-mobile {
  /*//? Buttons mobile hidden*/
  display: none;
  width: 27rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.help {
  padding-top: 8.1rem;
  padding-bottom: 10.3rem;
}

.help .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  width: 31rem;
  text-align: center;
}

.help .help-way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help .help-way__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 17rem;
  margin-top: 57px;
  margin-left: 35px;
  margin-right: 33px;
  margin-bottom: -5px;
}

.help .help-way__title {
  margin-top: 3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.donation {
  background: #f6f6f6;
}

.donation .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8.2rem 14.2rem 10.2rem 14.2rem;
}

.donation__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation__image {
  width: 100%;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.donation__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  width: 30rem;
}

.donation__bank {
  margin-top: 2rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  color: #545454;
}

.donation .card {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
}

.donation .card__image {
  margin-left: 15px;
  margin-right: 15px;
}

.donation .card__number {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
  text-decoration: none;
}

.donation .card__number:hover {
  opacity: 0.5;
}

.donation__description {
  margin-top: 2rem;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
  color: #b2b2b2;
  width: 38rem;
}

@media (max-width: 1280px) {
  .hero-content .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content {
    padding-top: 150px;
  }
  .hero__image-wrapper {
    max-width: 569px;
    margin-left: 13.5rem;
    margin-top: 2rem;
  }
  .hero__image {
    width: 100%;
  }
  .hero button {
    margin: 0 auto;
  }
  .about__wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8.05rem 0 10rem 0;
  }
  .about__image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 8rem;
  }
  .about__content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .about__description {
    width: 44rem;
  }
  .pets .pets-cards {
    width: inherit;
    height: 434px;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .help {
    padding-bottom: 11.2rem;
  }
  .help .help-way__item {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 6rem;
    margin-bottom: -1rem;
  }
  .donation__wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8.2rem 0 10rem 0;
  }
  .donation__image-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 505px;
    margin-top: 6rem;
  }
  .donation__content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 767px) {
  .hero-content .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content .hero__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    text-align: center;
  }
  .hero-content .hero__subtitle {
    text-align: center;
    width: auto;
  }
  .hero-content .hero__image-wrapper {
    width: 260px;
    margin-left: 3.9rem;
    margin-top: 2.5rem;
  }
  .about__wrapper {
    padding: 4.35rem 0 4.24rem 0;
  }
  .about__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    text-align: center;
    width: 29rem;
  }
  .about__image-wrapper {
    width: 260px;
    margin-top: 4rem;
  }
  .about__content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__description {
    text-align: justify;
    width: 27rem;
  }
  .about__description p {
    margin-top: 2.37rem;
  }
  .pets {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
  }
  .pets .wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .pets__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
  }
  .pets__title span {
    letter-spacing: 0.15rem;
  }
  .pets .pets-cards {
    margin-top: 4.2rem;
    margin-bottom: 2.2rem;
  }
  .buttons-desktop {
    display: none;
  }
  .buttons-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 4.4rem;
  }
  .buttons-mobile .slider-button, .buttons-mobile .slider-button_reverted {
    margin: 0;
  }
  .help {
    padding-top: 4.1rem;
    padding-bottom: 4.1rem;
  }
  .help__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    width: 25rem;
  }
  .help .help-way {
    margin-top: 1.2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 29rem;
  }
  .help .help-way__item {
    width: 13rem;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
  }
  .help .help-way__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
    margin-top: 1.8rem;
  }
  .donation__title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.15rem;
    text-align: center;
  }
  .donation__bank {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 160%;
    letter-spacing: normal;
  }
  .donation .card {
    width: 28.1rem;
  }
  .donation .card__number {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
  }
  .donation__wrapper {
    padding: 4.2rem 0 4.2rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__image-box {
    width: 260px;
    margin-top: 4.48rem;
  }
  .donation__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .donation__description {
    width: 28rem;
    text-align: justify;
  }
}
/*# sourceMappingURL=main.css.map */